# GenLayer RPC API URL
# Bradbury testnet RPC
NEXT_PUBLIC_GENLAYER_RPC_URL=https://rpc-bradbury.genlayer.com

# GenLayer Network Configuration
NEXT_PUBLIC_GENLAYER_CHAIN_ID=4221
NEXT_PUBLIC_GENLAYER_CHAIN_NAME=GenLayer Bradbury
NEXT_PUBLIC_GENLAYER_SYMBOL=GEN

# QuantumSafeScan Lite Contract Address
# Set this after deploying QuantumSafeScan to Bradbury.
NEXT_PUBLIC_CONTRACT_ADDRESS=0xYOUR_BRADBURY_CONTRACT_ADDRESS
